In [5]:
!pip install pandas
!python -m pip install --upgrade pip
!pip install xlrd
!pip install sklearn
!pip install openpyxl

Requirement already satisfied: pandas in c:\python\python36\lib\site-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in c:\python\python36\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\python\python36\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python\python36\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python\python36\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: pip in c:\python\python36\lib\site-packages (21.2.3)
Requirement already satisfied: xlrd in c:\python\python36\lib\site-packages (2.0.1)
Requirement already satisfied: sklearn in c:\python\python36\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python\python36\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.5.4)
Requirement already satisfied: numpy>=1.13.3 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [6]:
import pandas as pd
import xlrd

In [7]:

df = pd.read_excel('./goms_filtered_re.xlsx',engine='openpyxl')



df

,schoolType,schoolType_str,major,graduY,age,internExp,toeicScore,tospGrade,trainingHr,jobseekYN,certNum,mainJobCate,mainJobCate_str,midJobCate,midJobCate_str,subJobCate,subJobCate_str
0,1,2~3년제,비즈니스일본어과,2018,23.500000,0.0,NaN,NaN,NaN,1,NaN,6.0,미용·여행·숙박·음식·경비·청소직,54.0,경호·경비직,541.0,경호·보안 종사자
1,1,2~3년제,일본어과,2018,21.750000,NaN,NaN,NaN,240.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2~3년제,일본어과,2018,21.916667,NaN,800.0,NaN,NaN,0,1.0,3.0,교육·법률·사회복지·경찰·소방직 및 군인,21.0,교육직,214.0,문리·기술·예능 강사
3,1,2~3년제,관광일어과,2018,25.583333,0.0,NaN,NaN,NaN,0,NaN,6.0,미용·여행·숙박·음식·경비·청소직,52.0,여행·숙박·오락 서비스직,522.0,항공기·선박·열차 객실승무원
4,1,2~3년제,관광일어과,2018,21.750000,0.0,NaN,NaN,NaN,1,1.0,7.0,영업·판매·운전·운송직,61.0,영업·판매직,615.0,판매 종사자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18158,2,4년제,뮤지컬전공,2017,27.333333,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18159,2,4년제,교회음악학과,2018,25.083333,0.0,NaN,NaN,NaN,0,NaN,3.0,교육·법률·사회복지·경찰·소방직 및 군인,21.0,교육직,214.0,문리·기술·예능 강사
18160,2,4년제,교회음악과,2018,26.750000,NaN,NaN,NaN,NaN,0,NaN,7.0,영업·판매·운전·운송직,61.0,영업·판매직,612.0,영업원 및 상품중개인
18161,1,2~3년제,유아교육학과,2018,28.583333,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18162,1,2~3년제,유아교육과,2018,27.166667,0.0,NaN,NaN,NaN,0,1.0,3.0,교육·법률·사회복지·경찰·소방직 및 군인,21.0,교육직,213.0,유치원 교사